@use './var';

.login-page {
  @include screen-size;
  gap: 1em;

  background-color: var.$main-black;

  color: white;
}

.logo-text {
  position: relative;
  top: 10px;
  left: 15px;
  font-size: 1.3em;
}

.grin {
  font-size: 120%;
  margin-left: 4px;
}

.main-container {
  @include flex-centre;
  height: 90vh;
}

.login-signup {
  width: 500px;
  max-width: 100%;
  height: 300px;
  border-radius: 5%;

  //   background-color: var.$main-purple;
  //   background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1900% 1900%;
  animation: rainbowAnim 90s ease infinite;

  @keyframes rainbowAnim {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }

  .tab-indicator {
    background-color: rgb(255, 255, 255);
  }
}

//signup form styling
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin-top: 1em;

  input {
    height: 34px;
    padding-left: 10px;
    color: black;
    background-color: white;
    border-radius: 0;
  }

  .btn-container {
    margin: 20px auto;

    button {
      border: 1px solid black;
      padding: 10px 30px;
      transition: all 0.3s;
      color: black;
      font-size: 110%;
      font-weight: 600;
    }
    button:hover {
      border: 1px solid rgb(243, 243, 243);
      color: white;
      background-color: black;
      transition: all 0.5s;
      border-radius: 50px;
    }
  }
}

.show-btn {
  color: black;
  position: relative;
  bottom: 2px;
  scale: 0.9;
  opacity: 0.8;
}
